@import '../abstract/mixins';
@import '../abstract/variables';
@import '../abstract/breakpoint';

.layout-footer {
	background-color: $color-primary;
	position: relative;

	hr {
		border-color: #4191d9 !important;
	}

	.subscriber-bg {
		position: absolute;
		transform: translateY(-100%);
		width: 100%;

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.subscriber {
		position: absolute;
		transform: translateY(-100%);
		padding: 82px 100px;
		border-radius: 50%;
		background-color: white;
		@include simple-shadow;
		display: flex;
		flex-direction: column;
		left: 50%;
		transform: translate(-50%, -60%);

		@include media-breakpoint-down(lg) {
			position: relative;
			left: 0;
			transform: none;
			border-radius: 0;
		}

		@include media-breakpoint-down(xs) {
			padding: 50px 25px;
		}

		.logo {
			padding: 13px 22px;
			display: inline-block;
			border-radius: 10px;
			background-color: $color-primary;
			margin-left: auto;
			margin-right: auto;

			.text {
				color: white;
				@include clear-spacing;
				@include font(40px, $fw-bold);
			}
		}

		.subscriber-title {
			text-transform: uppercase;
			@include clear-spacing;
			margin-top: 50px;
			text-align: center;
			@include font(22px, $fw-light);
		}

		.subscriber-form {
			position: relative;
			margin-top: 30px;
			max-width: 500px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;

			input {
				background-color: #f2f2f2;
				border-radius: 20px;
				padding: 10px 20px;
				border: 0;
				width: 100%;
				padding-right: 25%;
				@include font(18px, $fw-light);
			}

			button {
				position: absolute;
				right: 0;
				top: 0;
				padding: 8px 35px;
				border: 0;
				background: $color-primary;
				border-radius: 20px;
			}
		}

		@include media-breakpoint-down(xl) {
			.logo {
				@include rem(padding, 10px 18px);

				.text {
					@include font(25px, $fw-bold);
				}
			}
		}
	}

	.social-medias {
		margin-top: 60px;
		margin-bottom: 50px;
		display: inline-block;

		.icons {
			@include flex();
			background-color: white;
			border-top-right-radius: 50px;
			border-bottom-right-radius: 50px;
			padding: 20px 15px;

			.icon {
				margin-left: 8px;
				margin-right: 8px;
				border-radius: 50%;

				&.icon-link {
					@include simple-shadow;
				}
			}
		}

		@include media-breakpoint-down(xs) {
			margin-top: 30px;
			margin-bottom: 30px;
			width: 100%;
			@include flex(center, center);

			.icons {
				border-radius: 50px;
				width: auto;
			}
		}
	}

	.footer-main {
		padding-top: 100px;
		padding-bottom: 45px;

		h3 {
			margin-bottom: 25px;
			color: white;
			@include font(20px, $fw-bold);
		}

		.list {
			margin-bottom: 40px;

			a {
				margin-bottom: 15px;
				display: block;
				color: white;
				@include font(17px, $fw-light);
				text-decoration: none;
				transition: 300ms;

				&:hover {
					opacity: 0.8;
					transition: 300ms;
				}
			}
		}
	}

	.copyright {
		text-transform: uppercase;
		text-align: center;
		padding-top: 15px;
		padding-bottom: 25px;
		margin: 0;
		color: white;
		@include font(17px, 400);
	}
}
