@import "./abstract/variables";
@import "./abstract/mixins";
@import "./abstract/breakpoint";

.layout-content {
  padding-top: 7px;
  padding-bottom: 400px;

  @include media-breakpoint-down(lg) {
    padding-bottom: 250px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 150px;
  }

  .main-box {
    margin-top: 25px;
  }

  .about-us-item {
    @include flex($align-items: center);

    .radio-button-icon {
      flex-shrink: 0;
      height: 25px;
      width: 25px;
      margin-left: 10px;
      margin-right: 35px;

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  .help-build-the-future-wrapper {
    margin-top: 200px;

    .rounded-icon {
      margin-top: -15px;
      margin-left: auto;
      margin-right: auto;

      img {
        width: 40px;
        height: 40px;
      }
    }

    .btn-view-all-vacancies {
      display: block;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 75px;
    }
  }
}
