@import './abstract/variables';
@import './abstract/mixins';
@import './abstract/breakpoint';

.layout-content.contracts-tenant {
  padding-bottom: 400px;

  @include media-breakpoint-down(lg) {
    padding-bottom: 250px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 150px;
  }

  .houses {
    margin-top: 100px;

    @include media-breakpoint-down(sm) {
      margin-top: 50px;
    }

    .item {
      margin-top: 25px;
      margin-left: 20px;
      margin-right: 20px;

      @include media-breakpoint-down(md) {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
      }

      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
      }

      .house-bg {
        height: 325px;
        width: 100%;
        background-image: url('/images/house-sample-1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        position: relative;

        .monthly-payment {
          width: 72px;
          background-color: $color-primary;
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 60px;
          right: -36px;
          border-radius: $border-radius;
          padding: 15px 20px 10px 20px;
          @include simple-shadow;

          .dash {
            line-height: 0px !important;
            margin-top: -2px !important;
            margin-bottom: -2px !important;
            opacity: 0.5;
          }

          .icon-wrapper {
            position: absolute;
            top: -20px;
            height: 30px;
            width: 30px;
            background-color: $color-primary;
            border-radius: 50%;
            @include flex(center, center);

            img {
              width: 50%;
            }
          }
        }

        .rooms-toilet {
          width: 72px;
          background-color: white;
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 150px;
          right: -36px;
          border-radius: $border-radius;
          padding: 20px 18px 20px 18px;
          @include simple-shadow;

          .main-desc {
            line-height: 100% !important;
            margin-top: 1px;
          }
        }

        .not-selected {
          background-color: #aeaeae;
          position: absolute;
          right: 0;
          top: 255px;
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
          text-align: center;
          color: white;
          font-size: 12px;
          line-height: 100%;
          padding: 3px 8px;
        }

        @include breakpoint-down(610px) {
          .monthly-payment,
          .rooms-toilet {
            right: 10px;
          }
        }

        .button {
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          bottom: -18px;
        }
      }
    }
  }
}

#signed-document-modal {
  .main-content {
    margin-top: 30px;

    .document-files {
      margin-left: 30px;
      margin-right: 30px;
      @include simple-shadow;
      border-radius: $border-radius;
      position: relative;
      @include flex(stretch, center);
      padding: 20px 20px;

      .file-item {
        flex: 1;
        text-align: center;

        button {
          background-color: white;
          border: 1px solid $color-primary;
          color: $color-primary !important;
        }
      }

      @include media-breakpoint-down(md) {
        .file-item {
          @include flex(space-between, center);
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      @include media-breakpoint-down(sm) {
        padding-top: 12px;
        padding-bottom: 12px;
        flex-wrap: wrap;

        .divider {
          display: none;
        }

        .file-item {
          margin: 8px 0;
          flex-basis: 100%;
          @include flex(space-between, center);
        }
      }

      @include breakpoint-down(650px) {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      @include media-breakpoint-down(xs) {
        .file-item {
          flex-direction: column;
        }
      }
    }

    .document-upload {
      margin-left: 30px;
      margin-right: 30px;

      .left {
        .field-group-select {
          flex: 1;
        }

        @include media-breakpoint-down(xs) {
          flex-wrap: wrap;
          justify-content: center;

          .field-group-select {
            flex-basis: 100%;
          }
        }
      }
    }
  }
}
