@import './abstract/variables';
@import './abstract/mixins';
@import './abstract/breakpoint';

// General
.layout-content.homepage {
  padding-top: 0;

  .container {
    max-width: 1400px;
  }
}

// Landing
.layout-content {
  padding-bottom: 400px;

  .landing {
    height: 850px;
    background-image: url('/images/homepage-bg.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    @include flex(center, center, column);

    .title {
      @include font(5.5rem, bold);
      color: white;

      .alt {
        font-family: $font-secondary;
        color: $color-primary;
      }
    }

    .input-fields {
      margin-top: 30px;
      background-color: white;
      padding: 12px 15px;
      border-radius: 40px;
      @include flex(stretch, stretch);
    }

    .scroll-down {
      @include flex();
      position: absolute;
      width: 100%;
      bottom: 0;

      .scroll-down-wrapper {
        flex-shrink: 0;
        position: relative;

        .scroll-down {
          width: 35px;
          height: 35px;
          padding: 8px;
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          border-radius: 40px;
          cursor: pointer;

          &:hover {
            background-color: rgba(255, 255, 255, 0.25);
          }
        }
      }

      .white-space {
        flex: 1;
        background-color: white;
      }
    }
  }
}

// Recently Added Properties
.layout-content {
  .recently-added-properties {
    margin-top: 150px;

    .properties {
      margin-top: 100px;

      @include flex(center, center);

      .item {
        padding-left: 20px;
        padding-right: 20px;
      }

      .slick-list {
        margin-left: 25px;
        margin-right: 25px;

        @include media-breakpoint-down(sm) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

// How Does It Work
.layout-content {
  .how-does-it-work {
    margin-top: 150px;

    .homepage-user-select {
      margin-top: 75px;
    }

    .steps {
      margin-top: 100px;
      @include flex();

      .steps-left,
      .steps-right {
        flex: 1;
      }

      .steps-divider {
        width: 120px;
        margin-top: -5px;
        @include flex(flex-start, center, column);

        .line {
          width: 1px;
          background-color: $color-gray2;
          position: absolute;
        }

        .circle {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          flex-shrink: 0;
          background-color: $color-gray2;
        }
      }

      .item {
        position: relative;
        @include flex(stretch, center);

        &.space-top {
          margin-top: 175px;
        }

        &.left {
          .main-box {
            margin-left: 50px;
            padding-left: 65px;
          }

          .step-count {
            right: -20px;
          }
        }

        &.right {
          .main-box {
            margin-right: 50px;
            padding-right: 65px;
          }

          .rounded-icon {
            right: 0;
          }

          .step-count {
            left: -20px;
          }
        }

        .rounded-icon {
          position: absolute;
          border-radius: $border-radius;
          height: 90px;
          width: 90px;

          img {
            width: 60%;
          }
        }

        .step-count {
          @include flex(center, center);
          width: 40px;
          height: 40px;
          position: absolute;
          top: -20px;
          background-color: $color-primary;
          color: white;
          border-radius: 50%;
          @include font(18px, bold);
          @include simple-shadow;
        }

        @include media-breakpoint-down(xs) {
          .main-box {
            margin-left: 0;
            margin-top: 60px;
            padding-top: 40px;
            padding-left: 25px;
          }

          .rounded-icon {
            top: 20px;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}
