@import "./abstract/variables";
@import "./abstract/mixins";
@import "./abstract/breakpoint";

.layout-content {
  padding-top: 7px;
  padding-bottom: 400px;

  @include media-breakpoint-down(lg) {
    padding-bottom: 250px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 150px;
  }

  .information {
    margin-top: 80px;

    .item {
      position: relative;
      @include flex(stretch, center);

      .main-box {
        margin-left: 50px;
        padding-left: 40px;
      }

      .rounded-icon {
        position: absolute;
        border-radius: $border-radius;
      }

      @include media-breakpoint-down(xs) {
        .main-box {
          margin-left: 0;
          margin-top: 60px;
          padding-top: 40px;
          padding-left: 25px;
        }

        .rounded-icon {
          top: 20px;
          right: 0;
          left: 0;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
