@import '../../components/slick-list';

// Blog
.layout-content.homepage {
  .blog {
    margin-top: 200px;

    @include media-breakpoint-down(sm) {
      margin-top: 100px;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 75px;
    }

    .blogs {
      margin-top: 50px;
      @include flex(center, center);

      @include media-breakpoint-down(md) {
        margin-top: 25px;
      }

      .item {
        margin-top: 120px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex !important;
        @include flex(stretch, center);

        @include media-breakpoint-down(xs) {
          padding-left: 2px;
          padding-right: 2px;
        }
      }

      .slick-list {
        margin-left: 25px;
        margin-right: 25px;

        @include media-breakpoint-down(sm) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
