@import './abstract/variables';
@import './abstract/mixins';
@import './abstract/breakpoint';

@import './landing';
@import './recently-added-properties';
@import './how-does-it-work';
@import './section-divider';
@import './areas-of-expertise';
@import './why-choose-digirent-over-any-agency';
@import './explore-our-most-popular-cities';
@import './blog';

@import './login';
@import './register';

// General
.layout-content.homepage {
  padding-top: 0;
  padding-bottom: 200px;

  @include media-breakpoint-down(lg) {
    padding-bottom: 75px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }

  .left-main-background {
    top: 4000px;
    left: -170px;

    @include media-breakpoint-down(sm) {
      left: -200px;
    }
  }

  .right-main-background {
    top: 2450px;
    right: -900px;

    @include media-breakpoint-down(sm) {
      right: -1200px;
    }
  }

  .container {
    max-width: 1400px;
  }

  .main-subtitle.max-width {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
