@import "../abstract/mixins";
@import "../abstract/variables";

.field-group {
  position: relative;
  @include flex($align-items: center);

  input,
  textarea {
    width: 100%;
    padding: 12px 10px 12px 70px;
    border-radius: 20px;
    border: 0;
    color: $color-dark-gray;
    @include simple-shadow;
    @include font(16px, $fw-light);
  }

  textarea {
    height: 100px;
    border-radius: 15px;

    &::-webkit-input-placeholder {
      transform: translateY(30px);
    }
    &:-moz-placeholder {
      transform: translateY(30px);
    }
    &::-moz-placeholder {
      transform: translateY(30px);
    }
    &:-ms-input-placeholder {
      transform: translateY(30px);
    }
    &::-ms-input-placeholder {
      transform: translateY(30px);
    }
    &::placeholder {
      transform: translateY(30px);
    }
  }

  .field-divider {
    position: absolute;
    left: 56px;
    opacity: 0.1;
    height: 12px;
    width: 0.5px;
    line-height: 100%;
    background-color: black;

    &.long {
      height: calc(100% - 24px);
    }
  }

  .field-icon {
    position: absolute;
    left: 20px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
