@import "../abstract/mixins";
@import "../abstract/breakpoint";
@import "../abstract/variables";

.field-group-select {
  @include flex($align-items: center);
  @include simple-shadow;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;

  &.primary {
    background-color: $color-primary;

    .value {
      color: white !important;
    }
  }

  &.active {
    .choices {
      display: block;
    }
  }

  .left-icon {
    height: 20px;
    width: 20px;
  }

  .divider {
    width: 1px;
    height: 12px;
    background-color: black;
    opacity: 0.05;
    display: block;
    margin-left: 16px;
    margin-right: 14px;
  }

  .value {
    display: block;
    color: $color-placeholder;
    @include font(16px, $fw-light);

    &.selected {
      color: $color-dark-gray;
    }
  }

  .btn-dropdown {
    border-radius: 50%;
    position: absolute;
    right: 6px;
    height: 32px;
    width: 32px;
    border: 0;
    background-color: $color-primary;
    @include flex(center, center);

    img {
      width: 100%;
      height: 12px;
      width: 12px;
      margin-bottom: -2px;
    }
  }

  .choices {
    @include simple-shadow;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    align-self: flex-end;
    overflow: hidden;
    display: none;
    z-index: 1;

    .item {
      @include font(16px, $fw-light);
      padding: 15px;
      cursor: pointer;

      &:hover {
        background-color: $color-primary;
        color: white;
      }
    }
  }
}
