@import "../abstract/variables";

.progress {
  border-radius: 20px;
  height: 0.7rem;
  overflow: initial;

  .progress-bar {
    background-color: $color-primary;
    position: relative;
    overflow: initial;
    border-radius: 20px;

    .progress-point {
      width: 0.85rem;
      height: 0.85rem;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      right: -0.4rem;
      margin-top: -1px;
      @include simple-shadow;
    }
  }
}
