@import "../abstract/mixins";
@import "../abstract/breakpoint";

.rounded-icon {
  @include flex(center, center);
  @include simple-shadow;
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;

  &:not(.not-responsive) {
    @include media-breakpoint-down(sm) {
      height: 50px;
      width: 50px;
    }
  }

  &.primary {
    background-color: $color-primary;
  }

  img {
    width: 45%;
  }

  &.small {
    width: 45px;
    height: 45px;

    img {
      width: 50%;
    }
  }
}
