@import "../abstract/breakpoint";
@import "../abstract/variables";

.social-medias-wrapper {
  position: relative;

  .active-icon {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7f7f7f;
  }

  &.active {
    .active-icon {
      display: block;
    }

    .inactive-icon {
      display: none;
    }

    .social-medias {
      display: block;
    }
  }

  .icon-share {
    cursor: pointer;
  }

  .social-medias {
    display: none;
    @include simple-shadow;
    border-radius: 50px;
    overflow: hidden;
    position: absolute;
    top: -20px;
    left: 65px;
    z-index: 100;

    .icons {
      @include flex();
      background-color: white;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      padding: 20px 15px;

      .icon {
        height: 40px;
        width: 40px;
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 50%;

        &.icon-link {
          @include simple-shadow;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      top: -3px;
      left: 53px;

      .icons {
        padding: 10px;

        .icon {
          height: 30px;
          width: 30px;
          margin-left: 8px;
          margin-right: 8px;
        }
      }
    }
  }
}
