@import "../abstract/mixins";
@import "../abstract/variables";

.toggle-switch {
  @include flex($align-items: center);

  .switch {
    @include simple-shadow;
    display: inline-block;
    padding: 4px;
    border-radius: 30px;
    flex-shrink: 0;

    .switch-button {
      display: inline-block;
      padding: 4px 8px;
      position: relative;
      text-align: center;
      border-radius: 20px;
      transition: background 600ms ease, color 600ms ease;
      margin-bottom: 0;
    }

    input[type="radio"].toggle {
      display: none;
      & + label {
        cursor: pointer;
        min-width: 53px;
        font-family: $font-primary;
        font-size: 16px;
        font-weight: bold;
        color: $color-dark-gray;

        &:after {
          content: "";
          height: 100%;
          position: absolute;
          top: 0;
          transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
          width: 100%;
          z-index: 0;
          border-radius: 30px;
          @include flex(center, center);
        }
      }

      &.toggle-left {
        & + label {
          border-right: 0;
          &:after {
            left: 100%;
          }
        }

        &:checked + label {
          &:after {
            content: "ON";
            background: $color-primary;
          }
        }
      }

      &.toggle-right {
        & + label {
          margin-left: -5px;
          &:after {
            left: -100%;
          }
        }

        &:checked + label {
          &:after {
            content: "OFF";
            background: $color-dark-gray !important;
          }
        }
      }

      &:checked + label {
        cursor: default;
        color: #fff;
        transition: color 200ms;
        &:after {
          left: 0;
        }
      }
    }
  }
}
