@import '../abstract/variables';

.property-info {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;

  @include media-breakpoint-down(md) {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .house-bg {
    height: 325px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    position: relative;

    .monthly-payment {
      width: 58px;
      background-color: $color-primary;
      position: absolute;
      top: 60px;
      right: -29px;
      border-radius: $border-radius;
      padding: 15px 10px 10px 10px;
      @include flex(center, center, column);
      @include simple-shadow;

      .dash {
        line-height: 0px !important;
        margin-top: -2px !important;
        margin-bottom: -2px !important;
        opacity: 0.5;
      }

      .main-desc {
        font-size: 14px;
      }

      .icon-wrapper {
        position: absolute;
        top: -20px;
        height: 30px;
        width: 30px;
        background-color: $color-primary;
        border-radius: 50%;
        @include flex(center, center);

        img {
          width: 50%;
        }
      }
    }

    .rooms-toilet {
      width: 58px;
      background-color: white;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 150px;
      right: -29px;
      border-radius: $border-radius;
      padding: 15px 10px 15px 10px;
      @include simple-shadow;

      .main-desc {
        line-height: 100% !important;
        margin-top: 1px;
        font-size: 14px;
      }
    }

    .selection {
      position: absolute;
      right: 0;
      top: 255px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      text-align: center;
      color: white;
      font-size: 12px;
      line-height: 100%;
      padding: 3px 8px;

      &.not-selected {
        background-color: #aeaeae;
      }

      &.selected {
        background-color: #70cc53;
      }

      &.still-to-comment {
        background-color: #ff8989;
      }
    }

    @include media-breakpoint-down(sm) {
      .monthly-payment,
      .rooms-toilet {
        right: 10px;
      }
    }

    .button {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: -18px;
    }
  }

  .btn-delete {
    position: absolute;
    top: -10px;
    right: -10px;
  }
}
