// abstracts
@import 'abstract/fonts';
@import 'abstract/variables';
@import 'abstract/mixins';

// layout
@import 'layout/header';
@import 'layout/homepage-header';
@import 'layout/content';
@import 'layout/footer';
@import 'layout/base';

// components
@import 'components/rounded-icon';
@import 'components/button';
@import 'components/field-group';
@import 'components/file-upload';
@import 'components/progress';
@import 'components/field-group-select';
@import 'components/toggle-switch';
@import 'components/toggle-switch-language';
@import 'components/pagination';
@import 'components/search-bar';
@import 'components/reaction';
@import 'components/social-media-wrapper';
@import 'components/slick-arrows';
@import 'components/check-box';
@import 'components/badge';

// widgets
@import 'widgets/property-info';
@import 'widgets/user-select';
@import 'widgets/blog-card';
@import 'widgets/search-form';
@import 'widgets/table-header';

// pages
@import 'pages/about';
@import 'pages/faq';
@import 'pages/sitemap';
@import 'pages/extra-information';
@import 'pages/media';
@import 'pages/rental-tips';
@import 'pages/pricing';
@import 'pages/messages';
@import 'pages/messages-tenant';
@import 'pages/contact';
@import 'pages/blog-article-inside';
@import 'pages/international-students-expats';
@import 'pages/account-tenant';
@import 'pages/account-landlord';
@import 'pages/contracts-tenant';
@import 'pages/contracts-landlord';
@import 'pages/payments-landlord';
@import 'pages/payments-tenant';
@import 'pages/blog';
@import 'pages/homepage/homepage';
@import 'pages/property/property';
@import 'pages/property-add';
@import 'pages/careers';
@import 'pages/tenants-list';
@import 'pages/property-list.scss';
